        <footer>
          <div class="pull-right">
            Desenvolvimento com <i class="fa fa-heart"></i> por Adriano Avelino
          </div>
          <div class="clearfix"></div>
        </footer>
