<div class="x_panel">
  <div class="title_left">
    <h3>Lista de Certificados</h3>
  </div>
  <div class="x_content row">
    <% if notice %>
      <div class="alert alert-success col-12"><%= notice %></div>
    <% end %>

    <div class="bar-button col-5 d-flex justify-content-end">
      <%= link_to  new_certificate_path(@certificate), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Certificado
      <% end %>
    </div>
    <div class="col-5"></div>
    <table class="table table-striped jambo_table bulk_action col-5">
      <thead>
        <tr class="headings">
          <th class="column-title">ID </th>
          <th class="column-title">Participante </th>
          <th class="column-title">Título </th>
          <th class="column-title no-link last"><span class="nobr">#</span></th>
          <th class="bulk-actions" colspan="7">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
      </thead>

      <tbody>
        <%= render(@certificates) %>
      </tbody>
    </table>
  </div>
</div>
